<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <br>
        <div class="col-8 offset-2"><br>
        <h3 class="new-head">Create new listing</h3><br>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" id="title" placeholder="Enter title" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" id="description" placeholder="Enter description" class="form-control" required ></textarea>
                <!-- <div class="valid-feedback">oye hoye</div>
                <div class="invalid-feedback">Please enter short description</div> -->
            </div>
            <div class="mb-3"> 
                <label for="image" class="form-label">Upload Lisitng Image</label>
                <input type="file" name="listing[image][url]" id="image" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  type=number name="listing[price]" id="price"placeholder="Enter price" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="country" placeholder="Enter country" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" id="location"placeholder="Enter location" class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div><br>
            <button class="btn btn-dark add-btn">Add</button>
        </form>
        </div>
    </div>
</body>
